<div class="row">
  <div class="banniere" style="background-image: url(assets/img/banniere/jeux.png);">
    <div class="info">
      <h1>Ces jeux qui m'ont marqués</h1>
      <button class="bouton" (click)="redirection()">Play</button>
    </div>
  </div>
  <!--<div class="banniere" style="background-image: url(assets/img/banniere/darksouls2.png);">
    <div class="info">
      <h1>Ma liste</h1>
      <a href="#" class="bouton">Lire</a>
    </div>
  </div>
  <div class="banniere" style="background-image: url(assets/img/banniere/darksouls3.png);">
    <div class="info">
      <h1>Mes inspirations</h1>
      <a href="#" class="bouton">Découvrir</a>
    </div>
  </div>
  <div class="banniere" style="background-image: url(assets/img/banniere/bloodborne.png);">
    <div class="info">
      <h1>Mes guides de jeux</h1>
      <a href="#" class="bouton">Ouvrir</a>
    </div>
  </div>
  <div class="banniere" style="background-image: url(assets/img/banniere/eldenring.png);">
    <div class="info">
      <h1>Artistes que je veux mettre en avant</h1>
      <a href="#" class="bouton">Soutenir</a>
    </div>
  </div>-->
</div>